.Header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Logo {
    font-size: 30px;
    font-weight: 400;
    color: #000;

  }

  a {
    text-decoration: none;
  }

  .Header__menu>*+* {
    margin-left: 32px;
  }

  .Header__form {
    position: relative;
  }

  .Header__menu-link {
    font-weight: 500;
    font-size: 20px;
    color: #000;
  }

  .Header__form-input {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #51abff;
    border-radius: 10px;
    width: 650px;
    background: transparent;
    padding: 5px 35px 5px 10px;
  }

  .Header__form-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #51abff;
    background: transparent;
    border: none;
    outline: none;

  }

  .Header__link {
    font-size: 20px;
    font-weight: 500;
    color: #51abff;
  }

  .Header__lang {
    background: #fff;
    color: #51abff;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 8px;
    border: 1px solid #51abff;
  }

}

.Header>* {

  flex-shrink: 0;
}

.Home__header{
  .Home__header-row{
    display: flex;
    gap: 24px;
  }
  .Home__header-content{
    flex-grow: 1;
  }
  .Home__header-img{
    width: 407px;
    flex-shrink: 0;
  }
}

